extends layout

block content
  header#top.header
    .text-vertical-center
     h1 Sorry. Performance measurement is ongoing.


  script(src='js/cookies.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/performance.js')