extends layout

block content
  include navigator
  header#top.header
    .text-vertical-center

      h1  Please choose a user
      br
      div#onlineusers(style='width:60%; margin:auto')
      div#offlineusers(style='width:60%; margin:auto')


        

  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script(src='/socket.io/socket.io.js')

  script(src='js/cookies.js')
  script(src='js/users_admin.js')
